html, body {
    height: auto;
    margin: 0;
}

body {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

div {
    width: 100%;
    max-width: 420px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

div img {
    max-width: 100%;
    height: auto;
    display: block;  
}
